.inputlogin{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.butttonlogin{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    background:black;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.formbox{
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 40px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


*, *::before, *::after {
  box-sizing: border-box;
}

.action {
  /* Reset button style*/
  outline: none;
  appearance: none;
  background: transparent;
  border: none;
}

html, body {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  font-family:sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.14em;
  color: #eaf2e3;
  background-color:  #3a2c41;
  background: radial-gradient(circle at center, hsla(280,19%,34%,1), #3a2c41 );
}

a {
  color: #c0a672;
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.menu {
    
  position: absolute;
  z-index: 1;

  bottom: 20%;
  left: 50%;

  box-shadow: 0 14px 52.2px 4px hsla(231, 8%, 13%, 0);
  transform: translateX(-50%) translateY(100%);
  pointer-events: none;
  transition: box-shadow 300ms 0s;

  
}

.action--menu-close {
  font-size: 1.2rem;
  color: rgba(#FFF, 0.4);
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
  transition: color 150ms;
}

.menu-trigger {  
  /*Button style reset*/
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  cursor:pointer;
    
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
    
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
