<h1>Login</h1>

<form class="formbox">
    <h2>Email:</h2> {{input type="text" class="inputlogin" value=email placeholder="Insira o Email"}}
    <h2>Password:</h2> {{input type="password" class="inputlogin" value=password placeholder="Insira a password"}}
    <button {{ action "login"}} class="butttonlogin">login</button>
</form>